

@import "base/_base";
@import "utilities/_utilities";
@import "components/_components";
@import "layouts/_header";
@import "pages/_accueil";
@import "pages/_menu";

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: $font-text;
}

