


@import "utilities/_utilities";
@import "base/_base";

html{
    font-size: 62.5%;
}

body{
    background-color: $color-primary;
    font-family: $font-title;
    
}

.header{
    font-size: $big-size;
}