



.recherche{
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    input{
        width: 100%;
        border: none;
        color: black;
        text-align: center;
        padding: 1rem 0;
        background-color: darken($color-bg,8%);
    }
  
}

.fonctionnement{
    padding-left: $padding-left;
    padding-right: $padding-left;
    font-size: $font-med;

}