



.page{
    background-color: $color-bg;
    overflow: hidden;
    
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.menu{
    background-color: $color-bg;
    border-radius: 2.5rem 2.5rem 0 0;
    position: relative;
    bottom: 2rem;
    padding: 1px $padding-left;
    &__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        margin-right: 1rem;
        font-family: $font-title;
        font-size: $font-size2;    
    }

    &__commander{
        margin-top: 4rem;
        text-align: center;
    }
}

.menu-card{
    @include shadow;
    background-color: white;
    border-radius: 1rem;
    padding-left: $padding-left;
    margin-bottom: $padding-left;
    font-size: $font-size3;
    font-weight: 900;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    
    &__left{
        overflow: hidden;
        cursor: pointer;
        flex-grow: 1;
        transition: margin-right 1s;

        h4{
            margin: 0;
            padding-top: $padding-left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;    
        }
        p{
            margin: 0;
            padding-bottom: $padding-left;
            font-size: $font-size4;
            font-weight: 100;
            overflow: hidden;  
            white-space: nowrap;
            text-overflow: ellipsis;                     
        }
        &:hover + .menu-card__right{
            transform: translateX(-5rem);          

        }
        &:hover{
            margin-right: 5rem;
        }
    }
    &__right{
        font-size: $font-size2;
        display: flex;
        flex-direction: row;
        margin-left: 0.5rem;
        margin-right: -5rem;
        transition: transform 1s;

    }
    &__price{
        height: 100%;
        width: 5rem;
        padding-top: 28%;
        font-weight: 900;
    }
    &__tick{
        color: white;
        height: 100%;
        width: 5rem;
        text-align: center;
        padding-top: 25%;
        background-color: $color-third;
    }
}

.anim-entrees{
    transform-origin: top;
    transform: scaleY(0);
    animation: menu-animation 3s forwards 1s;
}
.anim-plats{
    transform-origin: top;
    transform: scaleY(0);
    animation: menu-animation 3s forwards 2s;
}
.anim-desserts{
    transform-origin: top;
    transform: scaleY(0);
    animation: menu-animation 3s forwards 3s;
}


.footer-menu{
    position:relative;
    top: 2rem;
}