

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-bg-footer: #353535;
$color-bg: #f6f6f6;
$color-footer: white;

$padding-left: 1.5rem;

$font-size1: 2.8rem;
$font-size2: 2rem;
$font-size3: 1.8rem;
$font-size4: 1.5rem


