

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-bg-footer: #353535;
$color-bg: #f6f6f6;
$color-footer: white;

$padding-left: 1.5rem;

$font-big: 3rem;
$font-med: 1.8rem;
$font-small: 0.8rem;
