


//-------- bouton rechercher et commander

.but{
    padding: 1.5rem 2rem;
    background: linear-gradient(170deg,$color-secondary,$color-primary);
    box-shadow: -1rem 0.8rem 0.8rem darken($color-bg, 15%);
    color: white;
    border-radius: 2.5rem;
    margin: 2rem 0;
    cursor: pointer;
    font-size: $font-size4;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease-in;

    
    &:hover{
        opacity: 0.8;
        
    }

}
//------------ ajout fenetre 'nouveau'
.nouveau{
    &::after{
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        content: 'Nouveau';
        padding: 1rem 1.5rem;
        background-color: $color-third;
        font-weight: 900;
        color: darken($color-third,40%);
        border-radius: 0.3rem;
    }
}


//---------------------  cause deplacement pages dans les menus
.bg-white{
    background-color: white;
}

.bg-menu{
    background-color: $color-bg;
}




//----------- soulignement des menus Entree, plats, desserts
.underline{
    border-bottom: 0.3rem solid $color-third;
    display:inline-block;
    width: 2.5rem;
    font-size: $font-size2;
}

.heart{
    
    cursor: pointer;
    position: relative;
    &:hover > .heart--under{
        cursor: pointer;
        transform: scale(1);
    }
    &--over{
        font-size: $font-size2;
        color: darken($color-bg, 40%);
        position: absolute;
        bottom: -.5rem;
        right: 2rem;
        font-weight: 500;

    }
    &--under{
        font-size: $font-size2;
        position: absolute;
        bottom: -.5rem;
        right: 2rem;
        color: $color-primary;
        font-weight: 900;
        transform: scale(0);
        transform-origin: bottom;
        transition: transform 0.8s;
    
    }
}