


.header{
    background-color: white;
    text-align: center;
    margin: 1.2rem;
    padding: 1px;
    h1{
        font-family: $font-title;
        font-size: $font-size1;
        margin: 0;
    }
    i{
        display: none;
    }
    &--arrow{

        i{
            display: inline;
            float: left;
            font-size: $font-size2;
            padding-top: 1rem;
        }
        a{
            color: black;
        }
    }
}


.footer{
    color: $color-footer;
    background-color: $color-bg-footer;
    padding-left: $padding-left;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font-size4;
    h3{
        margin: 0;
        font-family: $font-title;
    }
    ul{
        padding: 0;
    }
    li{
        list-style: none;
        font-family: $font-text;
        margin: 1rem 0;
    }
    a{
        color:$color-footer;
        text-decoration: none;
    }
    i{
        margin-right: 0.5rem;
    }
}